<html>
   <body style="background-color:powderblue;">

      <form action = "http://localhost:5001/anand" method = "post">


		 <h1> Add Email id and schedule time to get latest query result</h1>
		 <h1>Enter Email id</h1>
         <p><input type = "text" name = "email_id"  /></p>
         <p><input type = "submit"  name="submit" value = "Add Email" /></p>
      </form>
	  <form action = "http://localhost:5001/anand" method = "post">
      <h1>Enter Schedule Time In HH:MM AM/PM Format:</h1>
          <p><input type="text" name="sch_time" /></p>
          <p><input type = "submit"  name="submit" value = "Schedule " /></p>

      </form>

   </body>
</html>
